# Project place file
/roblox-boilerplate.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Rojo
sourcemap.json

# Pesde
.pesde
*_packages
pesde.lock

# Blink
net

# Editors config
.vscode

# Darklua
out/

# Asphalt
src/ReplicatedStorage/Assets.luau
asphalt.lock.toml
.env*
